<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>Flask OpenAI Interface</title>
</head>
<body>
    <div class="image-container">
        <img src="static/images/SFBU.png" alt="SFBU Logo">
    </div>
    <div class="main-wrapper">

        <div class="header">
            <h1>Ask your question:</h1>
        </div>

        <div class="container">
            <form action="/" method="post" class="question-form">
                <div class="input-container">
                    <textarea name="user_input" rows="4" cols="50" placeholder="Type your question..."></textarea>
                    <button class="button" type="submit">Ask</button>
                </div>                
            </form>

            {% if response %}
            <div class="response-container">
                <h2>Response:</h2>
                <p>{{ response }}</p>
            </div>
            {% endif %}
        </div>

        <div class="footer">
            Powered by OpenAI
        </div>
    </div>
</body>
</html>